# Ignore Visual Studio Code settings folder
.vscode/

# Ignore macOS directory metadata files
.DS_Store

# Ignore npm debug log
npm-debug.log*

# Ignore the node modules folder
/node_modules/

# Ignore the build folder
public/build/*

# Ignore build files
bundle.js
bundle.js.map

# Ignore for security (not pushed)
.env
.terraform/

# for network security (not pushed)
terraform.tfvars
.terraform.lock.hcl
terraform.tfstate.backup
terraform.tfstate

# ignore all compiled classes
*.class

# ignore the target file
target/

.mvn