1. Landing page of Application
2. Be able to display the events from ticket microservice
3. Display available events for purchase
4. When clicking onto an event, be able to see the details of the event (SPA)
5. After clicking purchase, be sent into the purchase microservice
6. Additional button that routes to cognito

Technical Requirements:
1. Kafka Connector to produce message for purchase microservice
2. Cognito login link to be able to login to the application (display not logged in if not logged in)